.bold-bit {
    font-weight: bold;
}

.row-bit {
    font-size: 1.2em;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td, th {
    padding: 10px;
    border: 1px solid black;
    text-align: center;
}

input, button {
    padding: 5px;
    font-size: 16px;
}

.center-text {
    text-align: center;
}

#title-description {
    display: flex;
    align-items: center;
}

#table-title {
    margin-right: 15px;
}